experiments/
app.log
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env
*.pyc
local
.pytest_cache
models/
metadata/
*.pkl
# Package build artifacts
*.egg-info/
dist/
build/
test*.ipynb
